 #div_result_search_user
 {
  width: 70%;
  height: auto;
  border:1px dotted #8FBC8F;
  float: left;

 } 
 
 .prf_title
 {
  width: 100%;
  float: left;
  background-color: #008000;
  height: 30px;
  font-size: 10pt;
  text-align: center;
  color: #fff;
  margin: 10px 0;
 } 

 .prf_clear
 {
  padding-bottom: 20px;
 clear: both;
 color: #57970F;

 } 
 

 .prf_note
 {
  clear: both;
  height: auto;
  width: 100%;
 }
.result_search_content
{
  float: left;

font-weight: bold;
color: #0081a1;
font-size: 12px;
width: 40%;
height: auto;

}
.result_search_mark
{
  float: right;

font-weight: bold;
color: #0081a1;
font-size: 12px;
width: 30%;
height: auto;

}
.pr_bt_viewmore_c { margin-left: 20px; height:21px; float:left; background: url("http://ptnn.vn/3rdparty/uploads/img/btt.png") 0px -28px  repeat-x ; text-transform:uppercase; color:#757575; font-size:11px; font-family:Tahoma, sans-serif; font-weight:bold; padding:7px 6px 0 0; padding-top:8px; height:20px ;}

.pfr_avatar_wall
{

  
  width: 30%;
  height: auto;float: left;
  
}
.prf_write_wall
{
  
 width: 97%;
  margin: 10px 10px 10px 10px ;
  height:auto;
  border:1px dotted #8FBC8F;
}