*, ul{
	margin: 0px;
	padding: 0px;
}
body{
	margin: 0px auto !important;
	width: 1300px;
}
/*Header*/
#header{
    float: left;
    width: 100%;
	height: 150px;
	text-align: center;
}

#user{
	height: 50px;
	padding-right: 25px;
	
		
}
/*Menu*/
#menu{
	height: 35px;
	background: #337ab7;
    float: left;
    width: 100%;
}
ul.drop li{
	list-style: none;
}
ul.drop li a{
	text-decoration: none;
	float: left;
	display: block;
	padding: 0px 17px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
	color: #fff;
	border-right: 1px solid #fff;
}

#menu ul li.action > a {
    background: #428BCA;
}

/*Main*/
#main{
	clear: both;
	min-height: 800px;
	padding-top: 20px;
}
/*Left*/
#left{
	width: 75.9%;
	float: left;
	min-height: 800px;
	border-right: 1px dotted #ccc;
	padding-right: 2%;
}
#contain-left{
	width: 90%;
	margin: 5%;
}
label{
	float: left;
	width: 200px;
}
input{
	margin-bottom:10px;
}
table{
	margin-top: 10px;
	width: 100%;
}
/*Right*/
#right{
	/*clear: both;*/
	width: 22%;
	min-height: 800px;
	float: left;
	margin-left:2%;
}
#right ul{
	border:1px solid #CCCCCC;
	border-radius:3px;
	background-color:#eff0f2;
}

#right ul  li > a:hover{
	border-left: 4px solid #205081;
	background-color:#fefefe;	
}

/*Footer*/
#footer{
	clear: both;
	height: 200px;
	background: #F8FEEF;
	clear: both;
}
#footer p{
	text-align: center;
}
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	color: white;
	text-align:center;
}


/* margin*/

.margin-top-10{margin-top:10px}
.margin-top-20{margin-top:20px}
.margin-left-10{margin-left:10px}

/* padding*/

.padding-left-10{padding-left:10px}

.color_delete{color:#BD1501}
.text-center{text-align:center}
.error{color: #BD1501; width: 100%;}